$break-small: 768px

body
  .landing
    .column
      height: 30vh
      display: flex
      align-items: center
      justify-content: center
    .title
      flex-direction: column
    .watch
      margin-top: -4em
      @media screen and (max-width: $break-small)
        margin-top: 0
    .title
    .subtitle
  .white
    background-color: #CBC4BE
  .black
    background-color: #020002
  .title
    color: white
