$break-small: 768px

body
  .white
    background-color: #CBC4BE
  .black
    background-color: #020002
  .landing
    overflow: hidden
    .hero-head
      z-index: 1
      span
        
      a
        font-family: 'Slabo 27px', serif
        margin: 3px
        color: white
      a:hover
        background: #020002
        border-bottom: white 1px solid
    .column
      height: 30vh
      display: flex
      align-items: center
      justify-content: center
    .title
      flex-direction: column
      font-family: 'Slabo 27px', serif
      font-size: 10vw
      color: white
    .subtitle
      color: white
      font-family: 'Slabo 27px', serif
      font-size: 2vw
    .watch
      margin-top: -4em
      @media screen and (max-width: $break-small)
        margin-top: 0
  .items
    height: auto
