body
  .landing
    column
      height: 100vh
  .white
    background-color: #CBC4BE
  .black
    border: red 2px solid
    background-color: #020002
  .title
    border: red 2px solid
    color: white
  .image
    border: red 2px solid
    height: 15vh
    width: 15vw
    justify-content: center
    align-items: center
  .column
    border: blue 2px solid
    height: auto
